/* Fonts to use:
Oswald for headers and such: font-family: 'Oswald', sans-serif;
Open Sans for copy and such: font-family: 'Open Sans', sans-serif;

Color Palette:
Dark font: #033550
White font: #fff
Side-bar blue font: #005FA8
Side-bar twitter grey: #A7B7C1
Main copy dark font: #3E4F58
*/

* {
  box-sizing: box-border;
}
body , ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #03344E;
}

h1, h3, a{
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #5D686E;
}

h1, a {
  text-transform:uppercase;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

/* Small nav items */

nav {
  position: relative;
}

nav ul {
  display: inline-block;
  list-style: none;
  position: absolute;
  font-size: 18px;
  top: 16px;
  left: 991px;
}

nav li {
  display: inline-block;
  width: 57px;
}

nav .fa {
  position: relative;
  top: -2px;
  transform: scaleX(-1);
  filter: FlipH;
}

/* Top left logo and comany name */

.brand {
  padding-left: 141px;
  padding-top: 10px;
}

.brand img{
  height: 45px;
  vertical-align: middle;
}

.company-name {
  vertical-align: middle;
  text-transform: uppercase;
  color: #03344E;
  padding-left: 12px;
  letter-spacing: -.59px;
}

/* Formatting the main title and subtitle */

header {
  height: 523px;
   background-image: url("images/surfer.jpg");
  position: relative; /* For absolute children */
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,96,172,.6);
}

header h1, header h3{
  position: relative;
  text-align: center;
}

header h1 {
  font-size: 96px;
  letter-spacing: 1px;
  color: #fff;
  top: 76px;
  font-family: 'Open Sans', sans-serif;
}

header h3 {
  font-size: 15px;
  top: -4px;
  letter-spacing: .2px;
  font-family: 'Open Sans', sans-serif;
  color: #083451;
}

/* Main section*/

.main-wrapper {
  width: 1100px;
  margin: 0 auto;
}

.main {
  width:698px;
  height: 1000px;
  display: inline-block;
  margin-right: auto;
  position: relative;
}

.main h1, #author-picture-small, #author-name-small, #on, .date, #p1, #p2, #p3, #p4,
.random, #button-1, #button-2, #button-3, .fa-comment, .fa-cloud-upload, .fa-share-square-o {
  position: absolute;
}

.main h1 {
  color: #033550;
  font-size: 30px;
  top: 7px;
  left: 59px;
}

.main h4 {
  color: #006FAE;
  border-left: 2px solid #D3D3D3;
  font-family: 'Open Sans', sans-serif;
}

.main p {
  color: #5D686E;
}

/* Author portion in main section */
.main::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 30px;
  top: 209px;
  left: 4px;
  background-color: rgba(0,96,172,.6);
  z-index: -2;
}

#author-picture-small {
  height: 22px;
  width: 22px;
  border-radius: 30px;
  position: absolute;
  top: 209px;
  left: 4px;
  background-image: url("https://unsplash.it/22/22");
  z-index: 1;
}

.author-name a{
  color: #005FA8;
  text-transform: none;
}

.main-header span {
  color: #A7B7C1;
}

.date {
  text-decoration: underline;
}

/* Main section copy*/

p a {
  color: #5D686E;
  text-decoration: underline;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
}

p a:hover {
  color: #2E79B2;
  text-transform: none;
}

/* Main section bottom action buttons */

.action-buttons {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #A2B3BE;
  border-left: 33px solid #5A656B;
  padding: 10px 14px;
}

.action-buttons:hover {
  background-color: #006FAE;
  border-left-color: #033550;
}

/* Sidebar */
.sidebar {
  width: 279px;
  display: inline-block;
  position: relative;
}

.sidebar-image::before {
  content: "";
  height: 84px;
  width: 84px;
  border-radius: 90px;
  color: rgba(0,96,172,.6);
  left: 97px;
  z-index: 1;
}

#author-picture-medium {
  border-radius: 90px;
  display: block;
  margin: 0 auto;
  top:-44px;
  left: 100px;
  z-index:0;
}

#sidebar-name {
  color: #005FA8;
  text-transform: uppercase;
  top: -4px;
  left: 80px;
}

.social {
  list-style: none;
  top: 10px;
  left: 80px;
}

.social li {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
}

.social li a {
  text-transform: none;
  color: #A2B3BE;
  font-family: 'Open Sans', sans-serif;
}

.ad {
  height: 300px;
  width: 278px;
  top: 20px;
  left: 80px;
}

.ad::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,96,172,.6);
}

#about-ad {
  text-align: right;
  top: 200px;
  left: 20px;
}

#about-ad a{
  text-decoration: underline;
  color: #B9C6CE;
}

.sidebar-section h3 {
  color: #006FAE;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  top: 100px;
  left: 20px;
}

.sidebar-section p {
  color: #A2B3BE;
  top: 300px;
  left: 20px;
}

.sidebar-section a {
  text-decoration: underline;
  color: #A2B3BE;
}

/* Begining of bottom section */

.popular-posts-headline {
  color: #033550;
  text-align: center;
  border-top: 1px solid #E1E7EA;
}

.popular-posts li{
  display: inline-block;
  background-image: url("https://unsplash.it/325/330");
  height: 330px;
  width: 325px;
  position: relative;
}

.popular-posts li::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,96,172,.6);
  z-index: 100;
}

.popular-posts a {
  display: block;
  height: 330px;
  width: 325px;
}

.popular-posts span {
  color: #fff;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.popular-posts li:hover::before {
  display: none;
}

/* Footer Section */

footer {
  background-color: #033550;
}

.tiy {
  display: inline-block;
  position: relative;
}

.tiy p {
  color: #A0B2BD;
  display: inline-block;
}

.tiy-logo {
  width: 46px;
  height: 35px;
  position:relative;
}

.mini-nav-bottom {
  display: inline-block;
  list-style: none;
}

.mini-nav-bottom li {
  display: inline-block;
  width: 85px;
  border-right: 1px solid #5B666D;
}

.mini-nav-bottom li:last-child {
  border-right: none;
}

.mini-nav-bottom a {
  color: #9DADB8;
  display: block;
  text-align: center;
}

.take-out {
  height: 110px;
}
