/* Fonts to use:
Oswald for headers and such: font-family: 'Oswald', sans-serif;
Open Sans for copy and such: font-family: 'Open Sans', sans-serif;

Color Palette:
Dark font: #033550
White font: #fff
Side-bar blue font: #005FA8
Side-bar twitter grey: #A7B7C1
Main copy dark font: #3E4F58
*/

* {
  box-sizing: box-border;
}
body , ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #03344E;
}

h1, h3, a{
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #5D686E;
}

h1, a {
  text-transform:uppercase;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

/* Small nav items */

nav {
  position: relative;
}

nav ul {
  display: inline-block;
  list-style: none;
  position: absolute;
  font-size: 18px;
  top: 16px;
  left: 991px;
}

nav li {
  display: inline-block;
  width: 57px;
}

nav .fa {
  position: relative;
  top: -2px;
  transform: scaleX(-1);
  filter: FlipH;
}

/* Top left logo and comany name */

.brand {
  padding-left: 141px;
  padding-top: 10px;
}

.brand img{
  height: 45px;
  vertical-align: middle;
}

.company-name {
  vertical-align: middle;
  text-transform: uppercase;
  color: #03344E;
  padding-left: 12px;
  letter-spacing: -.59px;
}

/* Formatting the main title and subtitle */

header {
  height: 523px;
   background-image: url("images/surfer.jpg");
  position: relative; /* For absolute children */
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,96,172,.6);
}

header h1, header h3{
  position: relative;
  text-align: center;
}

header h1 {
  font-size: 96px;
  letter-spacing: 1px;
  color: #fff;
  top: 76px;
  font-family: 'Open Sans', sans-serif;
}

header h3 {
  font-size: 15px;
  top: -4px;
  letter-spacing: .2px;
  font-family: 'Open Sans', sans-serif;
  color: #083451;
}

/* Main section*/

.main-wrapper {
  width: 1100px;
  height: 985px;
  margin: 0 auto;
}

.main {
  width:698px;
  height: 1000px;
  display: inline-block;
  margin-right: auto;
  position: relative;
}

#first-part, #second-part, #author-picture-small, #author-name-small, #on, .date, #p1, #p2, #p3, #p4,
.random, #button-1, #button-2, #button-3, .fa-comment, .fa-cloud-upload, .fa-share-square-o {
  position: absolute;
}

.main h1 {
  color: #033550;
  font-size: 62px;
}

#first-part {
  top: 10px;
  left: 61px;
}

#second-part {
  top: 79px;
  left: 62px;
  letter-spacing: .9px;
}

#p1, #p2, #p3, #p4 {
  padding-right: 21px;
  font-size: 15px;
  line-height: 1.6;
}

#p1 {
  top: 253px;
  left: 63px;
}

#p2{
  top: 383px;
  left: 63px;
}

#p3 {
  top: 560px;
  left: 63px;
  line-height: 26.6px;
}

#p4 {
  top: 798px;
  left: 63px;
}

.random {
  top: 453px;
  left: 69px;
  text-transform: uppercase;
  font-size: 27px;
  padding:16px 0px 14px 17px;
}

.main h4 {
  color: #006FAE;
  border-left: 2px solid #D3D3D3;
  font-family: 'Open Sans', sans-serif;
}

.main p {
  color: #5D686E;
}

/* Author portion in main section */
.main::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 30px;
  top: 209px;
  left: 64px;
  background-color: rgba(0,96,172,.6);
  z-index: 0;
}

#author-picture-small {
  height: 22px;
  width: 22px;
  border-radius: 30px;
  position: absolute;
  top: 209px;
  left: 64px;
  background-image: url("https://unsplash.it/22/22");
  z-index: -1;
}

#author-name-small {
  top: 211px;
  left: 97px;
}

#author-name-small a{
  color: #005FA8;
  text-transform: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

#on {
  top: 213px;
  left: 178px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #A7B7C1;
}

.date {
  text-decoration: underline;
  top: 216px;
  left: 198px;
  color: #A7B7C1;
  font-size: 11px;
  letter-spacing: .9px;
}

/* Main section copy*/

p a {
  color: #5D686E;
  text-decoration: underline;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
}

p a:hover {
  color: #2E79B2;
  text-transform: none;
}

/* Main section bottom action buttons */

.action-buttons {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #A2B3BE;
  border-left: 33px solid #5A656B;
  padding: 6px 14px;
  font-size: 13px;
}

.action-buttons:hover {
  background-color: #006FAE;
  border-left-color: #033550;
}

#button-1 {
  top: 909px;
  left: 66px;
}

#button-2 {
  top: 909px;
  left: 235px;
  padding-right: 18px;
}

#button-3 {
  top: 909px;
  left: 373px;
  padding-right: 18px;
}

.fa-comment {
  left: -23px;
}

.fa-cloud-upload {
  left: -23px;
  top: 9px;
}

.fa-share-square-o {
  left: -23px;
  top: 9px;
}

/* Sidebar */

.sidebar-image, #author-picture-medium, #sidebar-name, .social, .social li, #twitter, #facebook,
#instagram, .ad, #about-ad, .sidebar-section, #sidebar-heading, #p5 {
  position: absolute;
}

.sidebar {
  width: 280px;
  height: 1000px;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 57px;
}

#author-picture-medium {
  border-radius: 90px;
  position: absolute;
  top: 82px;
  left: 99px;
  z-index:0;
}

#sidebar-name {
  color: #005FA8;
  text-transform: uppercase;
  top: 160px;
  left: 94px;
}

.social {
  list-style: none;
  top: 196px;
  left: 38px;
  height: 26px;
  width: 206px;
}

.social li {
  top: 3px;
  font-size: 13px;
}

#twitter {
  left: 7px;
}

#facebook {
  left: 69px;
  font-size: 12px;
}

#instagram {
  left: 137px;
}

.social li a {
  text-transform: none;
  color: #A2B3BE;
  font-family: 'Open Sans', sans-serif;
}

.ad {
  height: 300px;
  width: 278px;
  top: 269px;
  left: 2px;
  z-index: 0;
}

.sidebar::before {
  content: "";
  width: 278px;
  height: 300px;
  top: 269px;
  left: 2px;
  background-color: rgba(0,96,172,.6);
  z-index: 3;
  position: absolute;
}

.sidebar::after {
  content:"";
  width: 84px;
  height: 84px;
  border-radius: 90px;
  top: 82px;
  left: 99px;
  background-color: rgba(0,96,172,.6);
  z-index: 4;
  position: absolute;
}
#about-ad {
  top: 557px;
  left: 193px;
}

#about-ad a{
  text-decoration: underline;
  text-transform: capitalize;
  color: #B9C6CE;
  font-size: 13px;
}

#sidebar-heading {
  color: #006FAE;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  top: 620px;
  left: 2px;
  font-size: 18px;
}

#p5 {
  color: #A2B3BE;
  top: 653px;
  left: 20px;
}

.sidebar-section a {
  text-decoration: underline;
  color: #A2B3BE;
}

/* Begining of bottom section */

.popular-posts-headline {
  color: #033550;
  text-align: center;
  border-top: 1px solid #E1E7EA;
}

.popular-posts li{
  display: inline-block;
  background-image: url("https://unsplash.it/325/330");
  height: 330px;
  width: 325px;
  position: relative;
}

.popular-posts li::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,96,172,.6);
  z-index: 100;
}

.popular-posts a {
  display: block;
  height: 330px;
  width: 325px;
}

.popular-posts span {
  color: #fff;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.popular-posts li:hover::before {
  display: none;
}

/* Footer Section */

footer {
  background-color: #033550;
}

.tiy {
  display: inline-block;
  position: relative;
}

.tiy p {
  color: #A0B2BD;
  display: inline-block;
}

.tiy-logo {
  width: 46px;
  height: 35px;
  position:relative;
}

.mini-nav-bottom {
  display: inline-block;
  list-style: none;
}

.mini-nav-bottom li {
  display: inline-block;
  width: 85px;
  border-right: 1px solid #5B666D;
}

.mini-nav-bottom li:last-child {
  border-right: none;
}

.mini-nav-bottom a {
  color: #9DADB8;
  display: block;
  text-align: center;
}

.take-out {
  height: 110px;
}
